aiohappyeyeballs
aiohttp
aiosignal
attrs
colorama
et_xmlfile==2.0.0
frozenlist
idna
isodate==0.7.2
lark==1.2.2
loguru
msgpack
multidict
numpy
openpyxl==3.1.5
owlready2==0.47
pandas==2.2.3
propcache
pyparsing
python-dateutil==2.9.0.post0
pytz==2024.2
rdflib==7.1.1
setuptools==75.1.0
shapely==2.0.6
six==1.17.0
svgwrite
typing_extensions==4.12.2
tzdata==2024.2
wheel==0.44.0
win32-setctime
wslink
yarl
